.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none !important;
	box-shadow: 0 0px 0px rgba(120, 144, 156,1.0) inset, 0 0 0px rgba(120, 144, 156,0.8);
}


#user-input:focus {
	box-shadow: none;
	outline: none;
}
.container-fluid{
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    background : #f1f1f1;

}
.chatbot-header{
    height: 7vh;
    background: #D8D9DB;
}

#chatbot-icon{ 
    height: 100%;
}
#chatbot-name{
    margin: 0px; 
    margin-left: 3vw;
}
.chatbot-body {
    height: 79vh;
    overflow-y: auto;
    background: #f8f9fa!important;
}

.quick-btn{
    height: 7vh;
    background:transparent;
}
.btn{
    height:100%;
}
.console{
    height: 7vh;
    background-color: transparent;
}
.quick-btn .btn, .console .btn {
	background: #D8D9DB;
}
#user-input{
    height:100%;
}
.row {
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.col-12{
    padding-right: 0px;
    padding-left: 0px;
}

::-webkit-scrollbar{
    width: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
	background: rgba(96, 125, 139,0.99);
}
a {
	text-decoration: none !important;
}

.user-request, .bot-response {

	margin-top: 4px !important;
	margin-bottom: 4px !important;

}


.user-request a {

	background: #42a5f5;
	color: #fff !important;
	border-radius: 20px 20px 3px 20px;
	display: block;
	max-width: 75%;
	padding: 7px 13px 7px 13px;

}

.user-request:before {

	content: attr(data-is);
	position: absolute;
	right: 15px;
	bottom: -0.8em;
	display: block;
	font-size: .750rem;
	color: rgba(84, 110, 122,1.0);

}

.bot-response a {

	background: white;
	color: #000 !important;
	border-radius: 20px 20px 20px 3px;
	display: block;
	max-width: 75%;
	padding: 7px 13px 7px 13px;

}

.bot-response:before {

	content: attr(data-is);
	position: absolute;
	left: 13px;
	bottom: -0.8em;
	display: block;
	font-size: .750rem;
	color: rgba(84, 110, 122,1.0);

}
