button {
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  font-size: 2vh;
  /* margin: 0 6px 0 0 */
}

.button__icon {
  display: inline-block;
  margin: 0 0.3em 0 0;
}

.button__icon i svg {
  height: 2vh;
  width: 2vw;
}
