@import "../../style/Colors.css";

.quickbtn {
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-bottom: 0.1rem; */
  background-color: var(--quick-btn-container-bg);
}

.quickbtn button {
  color: var(--quick-btn-text);
  font-size: 1.5vh;
  height: 100%;
  flex-basis: 33%;
  background-color: var(--quick-btn-bg);
  border-style: none;
  padding: 0 0.4rem 0 0.4rem;
}

.quickbtn button:hover {
  color: var(--btn-hover-text);
  font-weight: bold;
  background-color: var(--quick-btn-hover-bg);
  /* border: 2px solid var(--btn-hover-text); */
}

.quickbtn button:active {
  color: var(--btn-active-text);
  font-weight: bold;
  background-color: var(--btn-active-bg);
  border: 2px solid var(--btn-active-text);
}
