<!DOCTYPE html>
<html lang="kor">
    <head>
        <title>JAVIC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/login.css">
    </head>
    <body>
        <div class="container px-4 py-5 mx-auto">
            <div class="card card0">
                <div class="d-flex flex-lg-row flex-column-reverse">
                    <div class="card card1">
                        <div class="row justify-content-center my-auto">
                            <div class="col-lg-10 col-md-8 col-xs-10 my-5">
                                <div class="row justify-content-center px-3 mb-3"><img id="logo" src="/static/images/new_doma.PNG"></div>
                                <!-- <h3 class="mb-5 text-center heading">JAVIC</h3> -->
                                <h3 class="mb-5 text-center heading"></h3>
                                <h6 class="msg-info">Please login to your account</h6>
                                <div class="form-group"> <label class="form-control-label text-muted">Username</label> <input type="text" id="user-id" placeholder="ID" class="form-control"> </div>
                                <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input type="password" id="user-pw" placeholder="Password" class="form-control"> </div>
                                <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color" id="send-btn"><img id="login-logo" src="/static/images/handy_logo.png"> Login</button> </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card card2">
                        <!-- <div class="mx-auto">
                            <img id="handy-slogun" src="/static/images/handy_long.png">
                        </div> -->
                        <div class="my-auto mx-md-5 px-md-5 right">
                            <h3 class="text-white">Just A Very Intelligent Chatbot</h3><br><h5 class="text-white">만나서 반가워요. 저는 javic입니다.</br>what a nice day!</h5>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <script type="text/javascript" src="/static/js/login_test.js"></script>
    </body>
</html>
