@import "../style/Colors.css";

.chatContainer {
  height: 81vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--chat-container-bg);
  /*  for firefox*/
  scrollbar-color: var(--chat-container-scrollbar-bg);
  scrollbar-width: thin;
}

.chatContainer:hover {
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: var(--chat-container-scrollbar-bg);
}
