@import "../style/Colors.css";

.chatcontainer {
  height: 81vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--chat-container-bg);
}

.chatcontainer:hover {
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background: var(--chat-container-scrollbar-bg);
}
